extends ../includes/layout


block content
    .jumbotron
        h1.display-3 Zaloguj się
        if error
            h2= error

        form(method='post', action='/login')
            div
                label(for='email', style='width:100px;')
                    | Email:
                input(id='email', style='width:200px;', type='email', name='email', placeholder='email', required)
            div
                label(for='password', style='width:100px;')
                    | Hasło:
                input(id='password', style='width:200px;', type='password', name='password', placeholder='haslo', required)
            input(type='submit')