extends ../includes/layout


block content
    .jumbotron
        h1.display-3 Zarejestruj się

        if error
            h2= error

        form(method='post', action='/register')
            div
                label(for='name', style='width:100px;')
                    | Imię:
                input(id='name', style='width:200px;', type='string', name='name', placeholder='Imie', required)
            div
                label(for='surname', style='width:100px;')
                    | Nazwisko:
                input(id='surname', style='width:200px;', type='string', name='surname', placeholder='nazwisko', required)
            div
                label(for='album', style='width:100px;')
                    | Album:
                input(id='album', style='width:200px;', type='string', name='album', placeholder='album', required)
            div
                label(for='email', style='width:100px;')
                    | Email:
                input(id='email', style='width:200px;', type='email', name='email', placeholder='email', required)
            div
                label(for='password', style='width:100px;')
                    | Hasło:
                input(id='password', style='width:200px;', type='password', name='password', placeholder='haslo', required)
            div
                label(for='repassword', style='width:100px;')
                    | Powtórz hasło:
                input(id='repassword', style='width:200px;', type='password', name='repassword', placeholder='powtorz haslo', required)
            div
                label(for='d', style='width:100px;')
                |Grupa D
                select(id='d' style='width:200px', name='groupd')
                    each d in dea
                        option(value=d.name)= d.name
            div
                label(for='l', style='width:100px')
                |Grupa l
                select(id='l' style="width:200px", name='groupl')
                    each l in labs
                        option(value=l.name)= l.name + l.owner.fullName()

            input(type='submit')