extends ../includes/layout
mixin form
    form.form-register(method='post', action='/register')
        h2.form-register-heading Please register
        .form-group.row
            label.col-sm-2.col-form-label(for='inputFirstName') First Name
            .col-sm-10
                input#inputFirstName.form-control(type='text', placeholder='Jan', name='name', required, autofocus)
        .form-group.row
            label.col-sm-2.col-form-label(for='inputLastName') Last Name
            .col-sm-10
                input#inputLastName.form-control(type='text', placeholder='Kowalski', name='surname', required)
        .form-group.row
            label.col-sm-2.col-form-label(for='inputAlbum') Album
            .col-sm-10
                input#inputAlbum.form-control(type='text', placeholder='123456', name='album', required)
        .form-group.row
            label.col-sm-2.col-form-label(for='inputEmail') Email
            .col-sm-10
                input#inputEmail.form-control(type='email', placeholder='123456@edu.p.lodz.pl', name='email', required)
        .form-group.row
            label.col-sm-2.col-form-label(for='inputPassword') Password
            .col-sm-10
                input#inputPassword.form-control(type='password', placeholder='Password', name='password', required)
        .form-group.row
            label.col-sm-2.col-form-label(for='inputRePassword') Confirm password
            .col-sm-10
                input#inputRePassword.form-control(type='password', placeholder='Confirm password', name='repassword', required)
        if error
            input.btn.btn-lg.btn-danger.btn-block(type='submit' value='Sign in')
        else
            input.btn.btn-lg.btn-primary.btn-block(type='submit' value='Sign in')


block content
    if error
        .card.card-outline-danger
            .card-block
                div.alert.alert-danger(role='alert')
                    strong= error
                +form
    else
        .card
            .card-block
                +form

//-

    block content
        .jumbotron
            h1.display-3 Zarejestruj się
            if error
                h2= error

            form(method='post', action='/registration')
                div
                    label(for='name', style='width:100px;')
                        | Imię:
                    input(id='name', style='width:200px;', type='string', name='name', placeholder='Imie', required)
                div
                    label(for='surname', style='width:100px;')
                        | Nazwisko:
                    input(id='surname', style='width:200px;', type='string', name='surname', placeholder='nazwisko', required)
                div
                    label(for='album', style='width:100px;')
                        | Album:
                    input(id='album', style='width:200px;', type='string', name='album', placeholder='album', required)
                div
                    label(for='email', style='width:100px;')
                        | Email:
                    input(id='email', style='width:200px;', type='email', name='email', placeholder='email', required)
                div
                    label(for='password', style='width:100px;')
                        | Hasło:
                    input(id='password', style='width:200px;', type='password', name='password', placeholder='haslo', required)
                div
                    label(for='repassword', style='width:100px;')
                        | Powtórz hasło:
                    input(id='repassword', style='width:200px;', type='password', name='repassword', placeholder='powtorz haslo', required)

                input(type='submit')