extends ../includes/layout
mixin form
    form.form-register(method='post', action='/register')
        h2.form-register-heading Please register
        .form-group.row
            label.col-sm-4.col-form-label(for='inputFirstName') First Name
            .col-sm-8
                input#inputFirstName.form-control(type='text', placeholder='Jan', name='name', required, autofocus)
        .form-group.row
            label.col-sm-4.col-form-label(for='inputLastName') Last Name
            .col-sm-8
                input#inputLastName.form-control(type='text', placeholder='Kowalski', name='surname', required)
        .form-group.row
            label.col-sm-4.col-form-label(for='inputAlbum') Album
            .col-sm-8
                input#inputAlbum.form-control(type='text', placeholder='123456', name='album', required)
        .form-group.row
            label.col-sm-4.col-form-label(for='inputEmail') Email
            .col-sm-8
                input#inputEmail.form-control(type='email', placeholder='123456@edu.p.lodz.pl', name='email', required)
        .form-group.row
            label.col-sm-4.col-form-label(for='inputPassword') Password
            .col-sm-8
                input#inputPassword.form-control(type='password', placeholder='Password', name='password', required)
        .form-group.row
            label.col-sm-4.col-form-label(for='inputRePassword') Confirm password
            .col-sm-8
                input#inputRePassword.form-control(type='password', placeholder='Confirm password', name='repassword', required)
        .form-group.row
            label.col-sm-4.col-form-label(for='inputGroupD') Dean Group
            .col-sm-8
                select#inputGroupD.custom-select(name='groupd', required)
                    each d in dea
                        option(value=d.name)= d.name


        if error
            input.btn.btn-lg.btn-danger.btn-block(type='submit' value='Register')
        else
            input.btn.btn-lg.btn-primary.btn-block(type='submit' value='Register')


block content
    if error
        .card.card-outline-danger
            .card-block
                div.alert.alert-danger(role='alert')
                    strong= error
                +form
    else
        .card
            .card-block
                +form

