extends ../includes/layout

block content
    h1 Edycja konta

    form
        input(type='password' name='oldPass')
        input(type='password' name='password')
        input(type='password' name='repassword')