extends ../includes/layout

block content
    .card
        h5.card-header Edycja konta
        .card-block
            //-var message = "123"
            if message
                //.row
                .alert.alert-info(role='alert')
                    strong Wiadomość:&nbsp;
                    | #{message}
            .row
                .col-sm-6
                    h5 Zmiana hasła
                    form(method='post' action='/settings')
                        .form-group
                            label(for='inputOldPass') Stare hasło
                            input#inputOldPass.form-control(type='password', name='oldPass')

                        .form-group
                            label(for='inputPassword') Nowe hasło
                            input#inputPassword.form-control(type='password', name='password')

                        .form-group
                            label(for='inputRePassword') Powtórz nowe hasło
                            input#inputRePassword.form-control(type='password', name='repassword')
                        input(type='hidden' name='action' value='newPassword')

                        button.btn.btn-primary.mb-4.mb-md-0(type='submit') Zmień hasło
                .col-sm-6
                    h5 Zmiana labu
                    form(method='post' action='/settings')
                        .form-group
                            label(for='inputLabSelect') Wybierz lab
                            select#inputLabSelect.selectpicker(name='lab', data-live-search="true")
                                //- console.log(labs)
                                each l in labs
                                    option(value=l.name, data-subtext=l.owner.fullName())= l.name
                        .form-group
                            label(for='inputLabSelectPass') Podaj hasło aby dokonać zmiany
                            input#inputLabSelectPass.form-control(type='password', name='passlabconf')

                        input(type='hidden' name='action' value="newLab")

                        button.btn.btn-primary(type='submit') Zmień lab