extends ../includes/layout

block content
    div(style='width:100%; text-align:center;')
        h1 Edycja konta

    if message
        h1= message

    div(style='width:49%; float:left;')
        h1 Zmiana hasła
        form(method='post' action='/settings')
            p Stare hasło
            input(type='password' name='oldPass')
            br
            br
            p Nowe Hasło
            input(type='password' name='password')
            br
            br
            p Nowe hasło
            input(type='password' name='repassword')
            br
            br
            button(type='submit') zmień

    div(style='width:49%; float:left; ')
        h1 Zmiana lab
        form(method='post' action='/settings')
            select(name='lab')
                - console.log(labs)
                each l in labs
                    option(value=l.name)= l.name + l.owner.fullName()
            br
            br
            p Podaj hasło aby dokonac zmiany
            input(type='password' name='passlabconf')
            br
            br
            button(type='submit') zmień