ol.breadcrumb
    li.breadcrumb-item
        a(href='/')
            i.fa.fa-home
    if data && data.topics
        li.breadcrumb-item.active Topics
    else if task
        li.breadcrumb-item
            a(href='/account') Topics
        li.breadcrumb-item.active Task
    else if user
        li.breadcrumb-item.active User Settings
    //li.breadcrumb-item.active Data