ol.breadcrumb
    li.breadcrumb-item
        a(href='/')
            i.fa.fa-home
    if data && data.topics
        li.breadcrumb-item.active#bc-topics
            a Topics
        li.breadcrumb-item.active#bc-current-topic(style='display: none') Topic
    else if task
        li.breadcrumb-item
            a(href='/account') Topics
        li.breadcrumb-item
            a#bc-current-topic-link(href='/') Topic
        li.breadcrumb-item.active Task
    else if user
        li.breadcrumb-item.active User Settings
    else if loginpage
        li.breadcrumb-item.active Login
    else if registerpage
        li.breadcrumb-item.active Register

    //li.breadcrumb-item.active Data