doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        if title
            title #{title} :: #{brand}
        else
            title= brand
        include styles
    body
        include nav



        .container
            include breadcrumbs

            block content

        include scripts
