.container
    nav.navbar.navbar-light.bg-faded.rounded.navbar-toggleable-md
        if localUser
            button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#containerNavbar', aria-controls='containerNavbar', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
        a.navbar-brand(href='/')= brand
        if localUser
            #containerNavbar.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item
                        a.nav-link(href='/') Home
                    li.nav-item.active
                        a.nav-link(href='/account') Tasks
                    li.nav-item
                        a.nav-link.disabled(href='#') Disabled
                    //-li.nav-item.dropdown
                        a#dropdown04.nav-link.dropdown-toggle(href='http://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Dropdown
                        .dropdown-menu(aria-labelledby='dropdown04')
                            a.dropdown-item(href='#') Action
                            a.dropdown-item(href='#') Another action
                            a.dropdown-item(href='#') Something else here
                ul.navbar-nav.navbar-right#nav-loggedin
                    li.nav-item
                        a.nav-link Witaj #{localUser.fullName()}
                    li.nav-item.pr-2.pb-2.pb-lg-0
                        a.btn.btn-primary(href='/settings')
                            i.fa.fa-cog(aria-hidden='true')
                    li.nav-item
                        a.btn.btn-danger(href='/logout') Wyloguj
        else
            form.form-inline.ml-md-auto.float-right#nav-form(action='/login' method='post', data-step='0')
                a.btn.btn-outline-primary.mr-2.l-email#nav-form-register(href='/register') Register
                input.form-control.mr-sm-2#nav-form-email(type='email', name='email' placeholder='Email', style='display: none')
                input.form-control.mr-sm-2#nav-form-pass(type='password', name='password' placeholder='Password', style='display: none')
                input.btn.btn-outline-success.my-2.my-sm-0.l-email#nav-form-button(type='button', value='Login')
            //ul.navbar-nav
            //    li.nav-item
            //        a.btn.btn-primary(href='#') Login

            //form.form-inline.my-2.my-md-0
            //    input.form-control.mr-sm-2(type='text', placeholder='Search')
            //    button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
