script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f', crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js', integrity='sha256-gL1ibrbVcRIHKlCO5OXOPC/lZz/gpdApgQAzskqqXp8=', crossorigin='anonymous')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js', integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn', crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_HTML', integrity='sha384-Ra6zh6uYMmH5ydwCqqMoykyf1T/+ZcnOQfFPhDrp2kI4OIxadnhsvvA2vv9A7xYv', crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.88/jsrender.min.js', integrity='sha256-Yl7jgV1SRqFQSsUBpiq6bK49cC56fryuXqggzcErU/Y=', crossorigin='anonymous')

//script(src='https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js')

script(type='text/x-mathjax-config').
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [ ['$','$'], ["\\\(","\\)"] ],
        processEscapes: true
      },
      menuSettings: {
          zoom: 'Click',
          mpContext: true,
          mpMouse: true
      }
    });

if sails.config.environment === 'production'
    script(src='/min/production.min.js')
else
    script(src='/js/main.js')
    script(src='/js/bootstrap-select.js')
    script(src='/js/task.js')
    script(src='/js/base64js.min.js')
    script(src='/js/markdown.js')
    script(src='/js/simplemde.js')
    script(src='/js/sortable.js')
    script(src='/js/teacherReplies.js')
    script(src='/js/teacherTasksTopics.js')
