link(rel='stylesheet', href='https://bootswatch.com/4-alpha/litera/bootstrap.min.css', integrity='sha384-anVbC12VjgIvqCZck0qfy1S8rwXtGXkWk9yZ2GnEW9g0ONFJOMsC+THteZXp7GWL', crossorigin='anonymous')
link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
link(rel="stylesheet" href="https://cdn.rawgit.com/balpha/pagedown/master/demo/browser/demo.css")
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css')
if sails.config.environment === "production"
    link(rel='stylesheet', href='/min/production.min.css')
else
    link(rel='stylesheet', href='/styles/importer.css')

link(rel='stylesheet', href='/styles/simplemde.min.css')