extends ../../includes/layout

block content

    .row
        .col-md-12.col-lg-4
            include ../menu
        //.hidden-md-down.col-lg-8#tasks-column
            //-include tasks
        .col-md-12.col-lg-8
            .card
                .card-header.text-center
                    strong Tasks and Topics
                .card-block
                    a.btn.btn-primary(href="/teacher/topics-and-tasks/topic/add") Dodaj temat

                table.table.table-striped.responsive.table-grouplist
                    thead
                        tr
                            th ID
                            th Temat
                            th Deadline
                    tbody#tablebody
                        each topic in data
                            tr(onclick='ttSelectTopic(' + topic.id + ')', style='cursor: pointer;')
                                th(scope='row')=topic.id
                                td=topic.number + '. ' + topic.title
                                td(width="80px")=topic.deadline


        script.
          var topics = !{JSON.stringify(data).replace(/<\//g, '<\\/')}
          var saved = '';

