extends ../../includes/layout

block content

    .row
        .col-md-12.col-lg-4
            include ../menu

        .col-md-12.col-lg-8
            -var id = task.id
            button#del(data-id=id) Usuń
            h1= task.topic.number + '. ' + task.topic.title
            h2= task.number + '. ' + task.title
            .card
                if description
                    #task-content.card-block!= description
                else
                    .card-block
                        p Nie ma opisu zadania