extends ../../includes/layout

block content

    .row
        .col-md-12.col-lg-4#topics-column
            include ../menu

        .col-md-12.col-lg-8
            h1= task.title
            h2= task.topic.number + task.topic.title
            if description
                p= description.description
            else
                p nie ma opisu zadania