extends ../../includes/layout

block content

    .row
        .col-md-12.col-lg-4
            include ../menu

        .col-md-12.col-lg-8
            -var id = task.id
            button#del(data-id=id) Usuń
            h1= task.title
            h2= task.topic.number + task.topic.title
            if description
                p= description.description
            else
                p nie ma opisu zadania

