extends includes/layout

block content
    //-.fourohfour
        .ocean
            img.fishy(src='http://sailsjs.org/images/fishy4.png')

        .main
            h1 Something's fishy here.
            if (typeof data !== 'undefined')
                h2= data
            else
                h2 The page you were trying to reach doesn't exist.
            p.help
                a(href='http://en.wikipedia.org/wiki/HTTP_404') Why
                |  might this be happening?

        .logo
            a(href='http://sailsjs.org')
                img(src='http://sailsjs.org/images/logo.png')


    .card
        .card-block
            .text-center
                img(src='/images/wall_outlet.svg')
                h1 404 Gdzie jest kabel?
                if (typeof data !== 'undefined')
                    h2= data