extends ../includes/layout

block scripts
    script.
      $('#setAllAsRead').on('change', function () {
        $('.checks').prop("checked", this.checked);
      })

block content

    .row
        .col-md-12.col-lg-4#topics-column
            include menu
        .col-md-12.col-lg-8#tasks-column
            //-include tasks
            .card
                .card-header.text-center
                    strong Ostatnie wiadomości

                table.table.table-striped.responsive.table-bordered.table-grouplist
                    form(method='post', action='/teacher/markAsRead')
                        table.table.table-striped.table-hover.responsive.table-grouplist
                            thead
                                tr
                                    th
                                        input(type='checkbox' id='setAllAsRead')
                                    th Wiadomość
                                    th Data
                            tbody
                                if actions && actions.length!==0
                                    each action in actions
                                        tr
                                            th
                                                input(type='checkbox' class='checks' name='actions' value=action.id)
                                            td !{action.message}
                                            td.text-center=action.updatedAt
                                else
                                    tr
                                        td.text-center(colspan=4) Brak danych
                        .card-block
                            input.btn.btn-primary.btn-block(type='submit' value='Oznacz przeczytane')