.card.p-3
    .list-group.w-100
        a.list-group-item.list-group-item-action(href=sails.getUrlFor('TeacherController.index'), class=(menuItem === 'index' ? 'active' : '')) Dashboard
        a.list-group-item.list-group-item-action(href=sails.getUrlFor('TeacherController.listLabGroups'), class=(menuItem === 'labgroups' ? 'active' : '')) Lab Groups
        a.list-group-item.list-group-item-action(href=sails.getUrlFor('TeacherController.index'), class=(menuItem === 'topics' ? 'active' : '')) Topics & Tasks