extends ../../includes/layout

block content

    .row
        .hidden-md-down.col-lg-4
            include ../menu
        .col-md-12.col-lg-8
            .card
                .card-header.text-center
                    strong Wybierz temat i zadanie do wyświetlenia odpowiedzi
                .table-responsive
                    table.table.table-striped.table-hover.table-grouplist.wb-initial
                        thead
                            tr
                                th.w-100 Temat
                                th ID
                        tbody#tablebody
                            if data && data.length !== 0
                                each topic in data
                                    tr.repliesSelectTopic(onclick='repliesSelectTopic('+topic.id+')')
                                        td.wb-breakword=topic.number + '. ' + topic.title
                                        th(scope='row')=topic.id
                            else
                                tr
                                    td.text-center(colspan=2) Brak tematów w bazie



                        script.
                            var topics = !{JSON.stringify(data).replace(/<\//g, '<\\/')}
                            var saved = '';

