extends ../../includes/layout

block content

    .row
        .col-md-12.col-lg-4#topics-column
            include ../menu
        .hidden-md-down.col-lg-8#tasks-column
            //-include tasks
            div.d-flex.justify-content-center
                .col-12
                    h2.text-center=data.topic.number + '. ' + data.topic.title
                    h3.text-center=data.number + '. ' + data.title

                    div.text-center
                        form(onsubmit='getLabTasks(); return false;')
                            label(for='selectLab') Wybierz grupy do sprawdzenia
                            br
                            select#selectLab(name='labs', multiple)
                                each lab in data.labs
                                    option(value=lab.id)= lab.name + ' - ' + lab.owner.fullName()
                            br
                            input(type='submit' onclick='')

                    div#labs


                    script.
                        function getLabTasks(e){
                          var selected = $('#selectLab').val();
                          $('#labs').html('');
                          $.get("/ajax/teacher/replies/view/"+#{data.id}+"/lab/"+selected[0].id, function (data){
                            $('#labs').append(data);
                          });
                        }