extends ../../includes/layout

block content

    .row
        .col-md-12.col-lg-4
            include ../menu
        .col-md-12.col-lg-8

            //-include tasks
            .card
                .card-header.text-center
                    strong Sprawdzanie odpowiedzi do zadań

                .card-block

                    .col-12
                        .row
                            if nextPrev && nextPrev.prevTopicTask
                                .col-2.text-center
                                    a.btn.btn-secondary(href="/teacher/replies/view/" + nextPrev.prevTopicTask)
                                        i.fa.fa-arrow-left
                            else
                                .offset-2
                            .col-8
                                h2.text-center=data.topic.number + '. ' + data.topic.title
                            if nextPrev && nextPrev.nextTopicTask
                                .col-2.text-center
                                    a.btn.btn-secondary(href="/teacher/replies/view/" + nextPrev.nextTopicTask)
                                        i.fa.fa-arrow-right
                        .row
                            if nextPrev && nextPrev.prevTask
                                .col-2.text-center
                                    a.btn.btn-secondary(href="/teacher/replies/view/" + nextPrev.prevTask)
                                        i.fa.fa-arrow-left
                            else
                                .offset-2
                            .col-8
                                h3.text-center=data.number + '. ' + data.title
                            if nextPrev && nextPrev.nextTask
                                .col-2.text-center
                                    a.btn.btn-secondary(href="/teacher/replies/view/" + nextPrev.nextTask)
                                        i.fa.fa-arrow-right

                        div.text-center
                            form(onsubmit='return false;')
                                .form-group
                                    label(for='selectLab') Wybierz grupy do sprawdzenia
                                    select.form-control#selectLab(name='labs', size='6', multiple)
                                        each lab in data.labs
                                            option(value=lab.id)= lab.name + ' - ' + lab.owner.fullName()
                                .form-group
                                    input.btn.btn-primary.getLabTasksButton(type='submit' data-id=data.id)
    .row
        div#labs.col-12


                    script.

