extends ../../includes/layout

block content
    .row
        .col-md-12.col-lg-4
            include ../menu
        //.hidden-md-down.col-lg-8#tasks-column
            //-include tasks
        .col-md-12.col-lg-8
            form
                input(placeholder="Imię")
                input(placeholder="Nazwisko")
