@charset "UTF-8";
div.sourceLine {
  display: inline-block;
  min-height: 1.25em;
}

a.sourceLine {
  display: inline-block;
  min-height: 1.25em;
  pointer-events: none;
  color: inherit;
  text-decoration: inherit;
}

.sourceCode {
  overflow: visible;
}

code.sourceCode {
  white-space: pre;
}

@media print {
  code.sourceCode {
    white-space: pre-wrap;
  }
  div.sourceLine, a.sourceLine {
    text-indent: -1em;
    padding-left: 1em;
  }
}

pre.numberSource div.sourceLine, .numberSource a.sourceLine {
  position: relative;
}

pre.numberSource div.sourceLine::before, .numberSource a.sourceLine::before {
  content: attr(data-line-number);
  position: absolute;
  left: -5em;
  text-align: right;
  vertical-align: baseline;
  border: none;
  pointer-events: all;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0 4px;
  width: 4em;
}

pre.numberSource {
  margin-left: 3em;
  border-left: 1px solid #aaaaaa;
  color: #aaaaaa;
  padding-left: 4px;
}

@media screen {
  a.sourceLine::before {
    text-decoration: underline;
    color: initial;
  }
}

code span {
  &.kw {
    color: #007020;
    font-weight: bold;
  }
  &.dt {
    color: #902000;
  }
  &.dv, &.bn, &.fl {
    color: #40a070;
  }
  &.ch, &.st {
    color: #4070a0;
  }
  &.co {
    color: #60a0b0;
    font-style: italic;
  }
  &.ot {
    color: #007020;
  }
  &.al {
    color: #ff0000;
    font-weight: bold;
  }
  &.fu {
    color: #06287e;
  }
  &.er {
    color: #ff0000;
    font-weight: bold;
  }
  &.wa {
    color: #60a0b0;
    font-weight: bold;
    font-style: italic;
  }
  &.cn {
    color: #880000;
  }
  &.sc, &.vs {
    color: #4070a0;
  }
  &.ss {
    color: #bb6688;
  }
  &.im {}
  &.va {
    color: #19177c;
  }
  &.cf {
    color: #007020;
    font-weight: bold;
  }
  &.op {
    color: #666666;
  }
  &.bu, &.ex {}
  &.pp {
    color: #bc7a00;
  }
  &.at {
    color: #7d9029;
  }
  &.do {
    color: #ba2121;
    font-style: italic;
  }
  &.an, &.cv, &.in {
    color: #60a0b0;
    font-weight: bold;
    font-style: italic;
  }
}