@charset "UTF-8";
.table-grouplist {

  thead > tr > th {
    border-top: 0 none;
  }

  margin-bottom: 0;

}

.replySortableTitle {
  overflow: hidden;
  text-overflow: ellipsis;
}

.replySortHandle {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sortable-ghost {
  opacity: .5;
}

.teacher-notifcounter {

}

.teacher-notifcounter-badge {
  //width: 0;
  height: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  //float: right;
  position: relative;
  //right: .5em;
  @media (max-width: 991px) {
    justify-content: left;
  }

  .badge {
    z-index: 8;
    pointer-events: none;
    // safari
    position: relative;
    left: 2em;
    @media (max-width: 991px) {
      top: 0.25em;
      left: 4em;
    }
  }
}

.replySortDate {
  .dateInput {
    display: -webkit-box;
    max-height: 40px;
    padding-top: 5px;
    border-top-left-radius: 17.25px;
    border-bottom-left-radius: 17.25px;
  }
  .dateSave {
    border-radius: 0;
  }
  .dateErase {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.nav-header-inner {
  background-color: transparent;
}

.studentCardMaxHeight {
  max-height: 400px;
  overflow-y: scroll;
}

.studentCard {
  white-space: normal;
}

//.labTaskRow {
//  height: 100vh;
//}

.replySortRow {
  overflow-x:scroll;
  overflow-y:hidden;
  white-space: nowrap;
}

.custom-checkbox-notifications {
  min-height: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
  width: 16px;
  position: relative;
  top: 2px;
  .custom-control-indicator {
    margin-top: -4px;
  }
}
.repliesTaskEntry,
.repliesGetBack,
.repliesSelectTopic,
.ttTaskEntry,
.ttGetBackButton,
.ttSelectTopic,
.usersSelectUser {
  cursor: pointer
}

.sendCommentButton {
  border-top-right-radius: 17.25px !important;
}
.checkCommentsButton {
  border-top-right-radius: 0 !important;
}
.task-comment-textarea {
  min-height: 70px;
}