.table-grouplist {

  thead > tr > th {
    border-top: 0 none;
  }

  margin-bottom: 0;

}

.replySortable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}