.topic-title {
  //noinspection CssInvalidPropertyValue
  word-break: break-word;
}

.taskcount {
  width: 3em;
  margin-right: 10px;
  flex-shrink: 0;
}

.topic-entry {
  cursor: pointer;
  border-radius: 0;
}

.list-group-item-hover:hover {
  color: #55595c;
  background-color: #f7f7f9;
}

.table-tasklist > thead > tr > th:nth-child(2) {
  min-width: 150px;
}

.table-tasklist > thead > tr > th:nth-child(7) {
  min-width: 300px;
}