extends ../../includes/layout

block content
    if (message !== undefined && message && (message.length > 0 ))
        .alert.alert-danger(role='alert')
            strong Wiadomość:
            |  #{message}

    .row
        .col-md-12.col-lg-4
            include ../menu
        .col-md-12.col-lg-8
            .card
                .card-header
                    ul.nav.nav-tabs.nav-fill.task-tab
                        li.nav-item
                            a.nav-link(href='/teacher/labgroup/list') Wyświetlanie
                        li.nav-item
                            a.nav-link.active() Dodawanie
                .card-block
                    .container
                        form(method='post')
                            .form-group.row
                                label.col-sm-3.col-form-label(for='inputTitle') Title
                                .col-sm-9
                                    input#inputTitle.form-control(type='text', name='title')
                            .form-group.row
                                label.col-sm-3.col-form-label(for='inputDescription') Description
                                .col-sm-9
                                    input#inputDescription.form-control(type='text', name='desc')
                            .form-group.row
                                label.col-sm-3 Status grupy
                                .col-sm-9
                                    .form-check
                                        label.form-check-label
                                            input.form-check-input(type='checkbox', name='active')
                                            |  Aktywna
                            .form-group.row
                                label.col-sm-3.col-form-label(for='inputOwner') Owner
                                .col-sm-9
                                    select.form-control#inputOwner(name='owner')
                                        for user in users
                                            if user.id === localUser.id
                                                option(value=user.id, selected)= user.fullName()
                                            else
                                                option(value=user.id)= user.fullName()
                            .form-group.row
                                .col-sm-12
                                    button.btn.btn-primary(type='submit') Dodaj