extends ../../includes/layout

block content

    .row
        .col-md-12.col-lg-4#topics-column
            include ../menu
        .hidden-md-down.col-lg-8#tasks-column
            //-include tasks
            div.d-flex.justify-content-center
                .col-8
                    h2.text-center widok grupy

                    form(method='post')
                        label(for='message') Wiadomość:
                        input#message(name='message', value=data.message)
                        input(type='submit')

                    table.table.table-striped.table-hover.responsive
                        thead
                            tr
                                th ID
                                th Student
                        tbody
                            each student in data.students
                                tr
                                    th(scope='row')=student.id
                                    td=student.fullName()

                    h5.text-center nazwa grupy :: liczba studentow :: liczba nowych odpowiedzi
