extends ../includes/layout

block content

    if (data !== undefined && data.message && (data.message.length > 0 ))
        .alert.alert-info(role='alert')
            strong=i18('settings.message')
            |  #{data.message}

    .row
        .col-md-12.col-lg-4#topics-column
            include topics
        .hidden-md-down.col-lg-8#tasks-column
            //-include tasks
            div.d-flex.justify-content-center
                if !isNaN(parseInt(data.taskView))
                    .col-8
                        script var taskView = #{data.taskView}
                else
                    .col-8.text-center
                        i.fa.fa-arrow-left.fa-lg.fa-5x.fa-fw.mt-5.mb-5
                        h2=i18n('student.index.dashintro')
